ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 3px;
}

h1 {
    text-align: center;
}

h3 {
    padding: 0px;
}

li {
    padding: 4px;
}

.med {
    font-weight: bold;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.center {
    text-align: center;
}

.center_div {
    align-items: center;
}

.logo_margin {
    display: table;
    margin: 0 auto;
}

#logo {
    animation: logo 2s infinite ease-in-out alternate;
}

@keyframes logo {
    from {
        transform: rotateZ(-30deg);
    }
    to {
        transform: rotateZ(30deg);
    }
}

.selection_width{
    max-width: 600px;
}

input[type="file"] {
    display: none;
}

.add_button {
    display: inline-block;
    padding: 1px 8px 0px 8px;
    cursor: pointer;
    font-size: small;
    color: white;
    background-color: rgb(204, 99, 0);;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #a7a5a3;
}

.add_button:hover {
    color: rgb(187, 187, 187);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    border-radius: 3px;
    color: #f8f8f0;
}


.dropdown:hover .dropdown-content {
    display: block;
    color: #f8f8f0;
    border: solid 1px;
    font-size: small;
    color: #f8f8f0;
}


body {
    font-family: sans-serif;
    color: #f8f8f0;
    background-color: #1e1e1e;
    background: #1e1e1e;
}

html, body, #page, #menu_left, #menu_left_content {
    height: 100%;
}

.indent {
    text-indent: 10px;
}

.left_menu_section {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    height: auto;
    white-space: pre-line;
    margin: 2px;
}

.duplicates {
    background-color: #005021;
    border-color: #007531;
}

.dtypes {
    background-color: #b98800;
    border-color: #584400;
}

.rows {
    background-color: #006666;
    border-color: #003342;
}

.uniques{
    background-color: #2c0046;
    border-color: #1f0042;
}

#menu_left {
    float: left;
    width: 180px;
    margin-top: 8px;
    position: fixed;
}

.container {
    background-color: #353535;
    border-radius: 5px;
    border-color: #747474;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
}


#plot {
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    max-width: 500px;
    min-width: 500px;
}

#main_content {
    padding-left: 190px;
}

.grid_display {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
}

.inline {
    display: inline-block;
}

.test {
    position: relative;
}

.block {
    display: block;
}

.wrapper {
    width: fit-content;
}


.col_metric {
    background-color: #004750 !important;
    font-size: 10.3pt !important;
}

.col_name {
    background-color: #003036 !important;
}

.pad_right {
    padding-right: 32px;
}

.pad_top {
    padding-top: 16px;
}

.pad_bottom {
    padding-bottom: 16px;
}

.rendered_html tr,
.rendered_html th,
.rendered_html td {
    text-align: left;
    vertical-align: middle;
    padding: 0.42em 0.47em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}

.rendered_html td {
    font-family: sans-serif !important;
    font-size: 9.3pt;
}

.rendered_html table {
    border: none;
    font-family: sans-serif !important;
    border-collapse: collapse;
    border-spacing: 0;
    color: #cccccc;
    table-layout: fixed;
}

.rendered_html thead {
    font-family: sans-serif !important;
    font-size: 10.3pt !important;
    background-color: #003036;
    color: #cccccc;
    vertical-align: bottom;
}

.rendered_html tbody tr:nth-child(odd) {
 background: #282828;
}

.rendered_html tbody tr {
 background: #202020;
}

.rendered_html tbody tr:hover:nth-child(odd) {
 background: #252525;
}

.rendered_html tbody tr:hover {
 background: #1e1e1e;
}

.rendered_html + table {
 margin-top: .05em;
}

.button_success,
.button_error,
.button_warning,
.button_feature,
.button_secondary,
.button_secondary_selected,
.button_blend {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button_success:hover,
.button_error:hover,
.button_warning:hover,
.button_feature:hover,
.button_secondary:hover,
.button_secondary_selected:hover,
.button_blend:hover {
    color: rgb(187, 187, 187);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button_success {
    background: rgb(28, 184, 65);
}

.button_feature {
    background: rgb(104, 60, 175);
}

.button_error {
    background: rgb(202, 60, 60);
}

.button_warning {
    background: rgb(204, 99, 0);
}

.button_secondary {
    background: rgb(66, 184, 221);
}

.button_secondary_selected {
    background: rgb(24, 81, 99);
}

.button_blend {
    background: rgb(109, 121, 121);
}
